h2 {
    border-bottom: 3px solid #000;
}

.howto-box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.howto-box .howto-box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.howto-box p {
    margin: 0; 
    padding: 0;
}

.option-box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #90eba3;
    border-radius: 8px;
}
.option-box .option-box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #90eba3;
    font-weight: bold;
}
.option-box p {
    margin: 0; 
    padding: 0;
}

/* .status-table{
    border:solid 1px gray;
    margin-top: 5px;
    margin-bottom: 5px;
} */

/* th, td{
    border:solid 1px;
} */

.result-table td:nth-of-type(1){
    width: 5em;
}
.result-table td:nth-of-type(2){
    width: 5em;
}
.result-table td:nth-of-type(3){
    width: 15em;
}

.pow-item{
    color: #e03997;
}
.int-item{
    color: #21ba45;
}
.spd-item{
    color: #00b5ad;
}
.vit-item{
    color: #f2711c;
}
.luk-item{
    color: #fbbd08;
}

.hp-item{
    color: #767676;
}
.sp-item{
    color: #767676;
}
.atk-item{
    color: #db2828;
}
.def-item{
    color: #2185d0;
}
.mat-item{
    color: #a333c8;
}
.mdf-item{
    color: #6435c9;
}

input{
    width: 6em;
}

.fileButton {
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 1em;
    position: relative;
    background-color: lightgray;
}
.fileButton input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
