table{
    /* border-collapse: collapse;
    border-spacing: 1; */
    border:solid 1px gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* th, td{
    border:solid 1px;
} */

.pow-input{
    color: deeppink;
}
.int-input{
    color: limegreen;
}
.spd-input{
    color: deepskyblue;
}
.vit-input{
    color: orange;
}
.luk-input{
    color: gold;
}

.atk-input{
    color: red;
}
.def-input{
    color: blue;
}
.mat-input{
    color: purple;
}
.mdf-input{
    color: royalblue;
}

input{
    width: 6em;
}

.fileButton {
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 1em;
    position: relative;
    background-color: lightgray;
}
.fileButton input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}